In [12]:
import os
from dotenv import load_dotenv
import pandas as pd
from sqlalchemy import create_engine

load_dotenv()

DB_HOST = os.getenv("DB_HOST")
DB_PORT = os.getenv("DB_PORT")
DB_NAME = os.getenv("DB_NAME")
DB_USER = os.getenv("DB_USER")
DB_PASSWORD = os.getenv("DB_PASSWORD")

DB_URL = f"postgresql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
engine_entrada = create_engine(DB_URL)


query = "SELECT * FROM Administrador"


dados_originais_df = pd.read_sql(query, engine_entrada)


dados_originais_df = dados_originais_df.copy()

In [13]:
# Anonimização administrador

from IPython.display import display


def anonimizar(senha, chave):
    senha = str(senha)
    chave = str(chave).lower()
    senha_cripto = ''
    i = 0
    for l in senha:
        deslocamento = ord(chave[i % (len(chave))]) - ord('a')
        nova_letra = chr((ord(l) - 32 + deslocamento) % 95 + 32)
        senha_cripto += nova_letra
        i += 1
    return senha_cripto

# cópia
dados_anonimizados = dados_originais_df.copy()


chave = "minhachave"
dados_anonimizados["cpf_anonimizado"] = dados_anonimizados["cpf"].apply(lambda x: anonimizar(x, chave))

print("==== Dados anonimizados ====")
display(dados_anonimizados.loc[:, ["cpf_anonimizado"]])

print("\n==== Dados originais preservados ====")
display(dados_anonimizados.loc[:, ["cpf"]])

==== Dados anonimizados ====

   cpf_anonimizado
0      =:@;58>8N4=
1      E@D=56:2F4E
2      =9>924:3I<A
3      A=B=68>7M6?
4      EAF?8:>7L8=
5      ?;@;46<5J=>
6      C?D?8:@9N7C
7      @<A<57=6K5@
8      D@E@9;82H8A
9      >:?:35;4I;B
10     B>C>79?8M9=
11     =9>702@9N5>
12     A=B;46:3H:C
13     @@@:36;3I4E
14     DAC79::4H4D

==== Dados originais preservados ====

            cpf
0   12345678901
1   98765432109
2   11122233485
3   55566677823
4   99988877741
5   33344455592
6   77788899937
7   44455566614
8   88899912345
9   22233344476
10  66677788851
11  11100099912
12  55544433367
13  48333443409
14  89609834308

In [14]:
import random
import string

def cifra_cesar(texto):
   
    chave = random.randint(1, 25)
    resultado = ""

    
    letras = list(string.ascii_uppercase) 
    simbolos = ['@', '#', '$', '%', '&', '*', '!', '?', '+', '=']

    for char in str(texto):
        if char.isalpha():  
            base = ord('A') if char.isupper() else ord('a')
            resultado += chr((ord(char) - base + chave) % 26 + base)
        elif char.isdigit():  #letras ou símbolos aleatórios
            if random.choice([True, False]):
                resultado += random.choice(letras)
            else:
                resultado += random.choice(simbolos)
        else:
            resultado += char  

    return resultado


dados_anonimizados["senha_pseudonimizada"] = dados_anonimizados["senha"].apply(cifra_cesar)

print("==== Dados anonimizados ====")
display(dados_anonimizados.loc[:, ["senha_pseudonimizada"]])

print("\n==== Dados originais preservados ====")
display(dados_anonimizados.loc[:, ["senha"]])

==== Dados anonimizados ====

   senha_pseudonimizada
0             ?&@IN@G*E
1           ephhldgs*&T
2             agobdi?N#
3              &$?@VZ?%
4              nqzvaSSF
5              kwfzsF*L
6              opqGEB$!
7              U*SUDSDZ
8              cnffjbeq
9             @IWQ+ZM$*
10             lrzmotZN
11             lwklwTK+
12            I#%@#$W!?
13             emrqj%#+
14             zhuap+!X

==== Dados originais preservados ====

          senha
0     123456789
1   password123
2     qwerty123
3      12345678
4      admin123
5      senha123
6      abc12345
7      11111111
8      password
9     123123123
10     qwerty12
11     teste123
12    987654321
13     wejib323
14     santi123

In [15]:
# Pseudonimização email
def pseudonimizar(email):
    email = str(email)
    parte_local, dominio = email.split("@")
  
    if len(parte_local) > 3:
        parte_local_pseudo = parte_local[:2] + "****"
    else:
        parte_local_pseudo = parte_local + "****"
    return parte_local_pseudo + "@" + dominio
dados_anonimizados["email_pseudonimizado"] = dados_anonimizados["email"].apply(pseudonimizar)

print("==== Dados anonimizados ====")
display(dados_anonimizados.loc[:, ["email_pseudonimizado"]])

print("\n==== Dados originais preservados ====")
display(dados_anonimizados.loc[:, ["email"]])

==== Dados anonimizados ====

     email_pseudonimizado
0      sa****@eitruck.com
1      an****@eitruck.com
2      gi****@eitruck.com
3      be****@eitruck.com
4      ve****@eitruck.com
5      ig****@eitruck.com
6      ma****@eitruck.com
7      is****@eitruck.com
8      jo****@eitruck.com
9      da****@eitruck.com
10     br****@eitruck.com
11     ma****@eitruck.com
12     mi****@eitruck.com
13  te****@eitruck.org.br
14     ca****@eitruck.com

==== Dados originais preservados ====

                           email
0   samuel.hironimus@eitruck.com
1          ana.costa@eitruck.com
2   giovanna.quirino@eitruck.com
3     beatriz.inacio@eitruck.com
4   verena.marcelino@eitruck.com
5        igor.quinto@eitruck.com
6     marcelo.barros@eitruck.com
7        isabela.neu@eitruck.com
8       joao.camargo@eitruck.com
9      daniel.severo@eitruck.com
10      bruno.ferraz@eitruck.com
11  matheus.castilho@eitruck.com
12      miguel.souza@eitruck.com
13          teste@eitruck.org.br
14      carlos.santi@eitruck.com

In [16]:
# hash senha

In [17]:
# Pseudonimização nome
def pseudonimizar_nome(nome):

    for i in range (len(nome)):
        nome= str("Usuário "+str(i))
        return nome
  
dados_anonimizados["nome_pseudonimizado"] = [
    f"Administrador {i+1}" for i in range(len(dados_anonimizados))
]

print("==== Dados anonimizados ====")
display(dados_anonimizados.loc[:, ["nome_pseudonimizado"]])
print("\n==== Dados originais preservados ====")
display(dados_anonimizados.loc[:, ["nome_completo"]])

==== Dados anonimizados ====

   nome_pseudonimizado
0      Administrador 1
1      Administrador 2
2      Administrador 3
3      Administrador 4
4      Administrador 5
5      Administrador 6
6      Administrador 7
7      Administrador 8
8      Administrador 9
9     Administrador 10
10    Administrador 11
11    Administrador 12
12    Administrador 13
13    Administrador 14
14    Administrador 15

==== Dados originais preservados ====

                          nome_completo
0              Samuel Pimenta Hironimus
1                Ana Clara Araujo Costa
2                      Giovanna Quirino
3                   Beatriz Dias Inacio
4            Verena Marostica Marcelino
5                   Igor Eduardo Quinto
6   Marcelo Paschoareli de Moura Barros
7                    Isabela Morais Neu
8                Joao Victor de Camargo
9                Daniel Tognelli Severo
10                   Bruno Urias Ferraz
11              Matheus Bastos Castilho
12               Miguel Araujo de Souza
13                        Usuário Teste
14                 Carlos Eduardo Santi