In [2]:
import os
from dotenv import load_dotenv
import pandas as pd
from sqlalchemy import create_engine

load_dotenv()

DB_HOST = os.getenv("DB_HOST")
DB_PORT = os.getenv("DB_PORT")
DB_NAME = os.getenv("DB_NAME")
DB_USER = os.getenv("DB_USER")
DB_PASSWORD = os.getenv("DB_PASSWORD")

DB_URL = f"postgresql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
engine_entrada = create_engine(DB_URL)


query = "SELECT * FROM Endereco"


dados_originais_df = pd.read_sql(query, engine_entrada)


dados_originais_df = dados_originais_df.copy()

In [3]:
# Anonimização Rua
from IPython.display import display

# sua função de criptografia
def anonimizar(senha, chave):
    senha = str(senha)
    chave = str(chave).lower()
    senha_cripto = ''
    i = 0
    for l in senha:
        deslocamento = ord(chave[i % (len(chave))]) - ord('a')
        nova_letra = chr((ord(l) - 32 + deslocamento) % 95 + 32)
        senha_cripto += nova_letra
        i += 1
    return senha_cripto


dados_anonimizados = dados_originais_df.copy()


chave = "minhachave"
dados_anonimizados["rua_anonimizada"] = dados_anonimizados["rua"].apply(lambda x: anonimizar(x, chave))
# mostra os resultados
print("==== Dados anonimizados ====")
display(dados_anonimizados.loc[:, ["rua_anonimizada"]])

print("\n==== Dados originais preservados ====")
display(dados_anonimizados.loc[:, ["rua"]])

==== Dados anonimizados ====

             rua_anonimizada
0           M~ruifh ee"tvztc
1              ^}n'Vgyg+iuz|
2         M~ruifh [e~qn'Lkta
3     ^}n'Cquszptmvyo"Ja(v1w
4               ^}n'dc'M%soi
5  M~ruifh evq{vkep{e5Zmzths
6              ^}n'Cc{e'yq{r
7           M~ruifh h){(Wvs-
8     ^}n'Qwpn0i,lr'Nq}e#f~w
9          ^}n'Nq}e5hq(W|ljv

==== Dados originais preservados ====

                         rua
0           Avenida Paulista
1              Rua Vergueiro
2         Avenida Faria Lima
3     Rua Conselheiro Carrão
4               Rua da Mooca
5  Avenida Presidente Vargas
6              Rua Catequese
7           Avenida São José
8     Rua Quinze de Novembro
9          Rua Nove de Julho

In [4]:
# numero anonimizado 
from IPython.display import display

def anonimizar(senha, chave):
    senha = str(senha)
    chave = str(chave).lower()
    senha_cripto = ''
    i = 0
    for l in senha:
        deslocamento = ord(chave[i % (len(chave))]) - ord('a')
        nova_letra = chr((ord(l) - 32 + deslocamento) % 95 + 32)
        senha_cripto += nova_letra
        i += 1
    return senha_cripto


dados_anonimizados = dados_originais_df.copy()


chave = "minhachave"
dados_anonimizados["numero_anonimizado"] = dados_anonimizados["numero"].apply(lambda x: anonimizar(x, chave))
# mostra os resultados
print("==== Dados anonimizados ====")
display(dados_anonimizados.loc[:, ["numero_anonimizado"]])

==== Dados anonimizados ====

  numero_anonimizado
0               ==D?
1               ?9E<
2               >:@9
3               ><B>
4               =:@;
5               >8=7
6                ?8=
7                @=B
8               ?==7
9               =@D=

In [5]:
# cidade pseudonimizada
from IPython.display import display
def pseudonimizar_cidade(cidade):
    # Pega as duas primeiras letras (ignorando espaços extras)
    iniciais = cidade.strip()[:2].upper()
    return f"{iniciais}"


dados_anonimizados = dados_originais_df.copy()

# Aplica a função a cada nome
dados_anonimizados["cidade_pseudonimizada"] = dados_anonimizados["cidade"].apply(pseudonimizar_cidade)

# Mostra os resultados
print("==== Dados anonimizados ====")
display(dados_anonimizados.loc[:, ["cidade_pseudonimizada"]])

==== Dados anonimizados ====

  cidade_pseudonimizada
0                    SÃ
1                    SÃ
2                    SÃ
3                    SÃ
4                    SÃ
5                    OS
6                    SA
7                    SÃ
8                    PR
9                    MA

In [6]:
#estado pseudonimizado
# Pseudonimização do estado - captura o UF
def pseudonimizar_uf(estado):
    # Remove espaços extras
    estado= estado.strip()

    uf = estado[-2:].upper()
    return f"{uf}"

# Copia o DataFrame original
dados_anonimizados = dados_originais_df.copy()

# Aplica a função
dados_anonimizados["estado_pseudonimizado"] = dados_anonimizados["estado"].apply(pseudonimizar_uf)

# Mostra resultados
print("==== Dados anonimizados ====")
display(dados_anonimizados.loc[:, ["estado_pseudonimizado"]])

==== Dados anonimizados ====

  estado_pseudonimizado
0                    SP
1                    SP
2                    SP
3                    SP
4                    SP
5                    SP
6                    SP
7                    SP
8                    SP
9                    SP

In [7]:
#pais pseudonimizado

def pseudonimizar_uf(pais):
    # Remove espaços extras
    pais= pais.strip()

    uf = pais[:2].upper()
    return f"{uf}"

# Copia o DataFrame original
dados_anonimizados = dados_originais_df.copy()

# Aplica a função
dados_anonimizados["pais_pseudonimizado"] = dados_anonimizados["pais"].apply(pseudonimizar_uf)

# Mostra resultados
print("==== Dados anonimizados ====")
display(dados_anonimizados.loc[:, ["pais_pseudonimizado"]])

==== Dados anonimizados ====

  pais_pseudonimizado
0                  BR
1                  BR
2                  BR
3                  BR
4                  BR
5                  BR
6                  BR
7                  BR
8                  BR
9                  BR

In [8]:
# Bairro anonimizado
3

# sua função de criptografia
def anonimizar(senha, chave):
    senha = str(senha)
    chave = str(chave).lower()
    senha_cripto = ''
    i = 0
    for l in senha:
        deslocamento = ord(chave[i % (len(chave))]) - ord('a')
        nova_letra = chr((ord(l) - 32 + deslocamento) % 95 + 32)
        senha_cripto += nova_letra
        i += 1
    return senha_cripto

# cópia do DataFrame original
dados_anonimizados = dados_originais_df.copy()

# aplica a criptografia no campo CPF com uma chave
chave = "minhachave"
dados_anonimizados["bairro_anonimizado"] = dados_anonimizados["bairro"].apply(lambda x: anonimizar(x, chave))
# mostra os resultados
print("==== Dados anonimizados ====")
display(dados_anonimizados.loc[:, ["bairro_anonimizado"]])

==== Dados anonimizados ====

   bairro_anonimizado
0          Nmyh Xps*e
1        bqyh Ohr~ezi
2           \q{oekyo)
3         bqyh Ehr(){
4               Yw|ja
5              Om{{rq
6              Om{{rq
7              Om{{rq
8  bqyh Kudztqvq3nepa
9              Om{{rq

In [9]:
from IPython.display import display
def pseudonimizar(cep):

    # garante string caso no banco nao seja
    cep = str(cep)
    
    #divide o em duas partes, antes e depois do hífen
    if "-" in cep:
        parte_local, sufixo = cep.split("-")
    else:
        parte_local, sufixo = cep, ""
    
    # substitui os carácterespor *
    if len(parte_local) > 5:
        parte_local_pseudo = parte_local[:4] + "****"
    else:
        parte_local_pseudo = parte_local + "****"
    
    # junta de volta para manter o padrão do cep
    if sufixo:
        return parte_local_pseudo + "-" + sufixo
    else:
        return parte_local_pseudo
    
#cópia do DataFrame original

dados_anonimizados = dados_originais_df.copy()    

# Aplica pseudonimização
dados_anonimizados["cep_pseudonimizado"] = dados_anonimizados["cep"].apply(pseudonimizar)

print("==== Dados anonimizados ====")
display(dados_anonimizados.loc[:, ["cep_pseudonimizado"]])

==== Dados anonimizados ====

  cep_pseudonimizado
0           0131****
1           0403****
2           0540****
3           0826****
4           0316****
5           0623****
6           0901****
7           1224****
8           1901****
9           1751****